Database With Python

In [3]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2_binary-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   ------------------ --------------------- 0.5/1.2 MB 305.2 kB/s eta 0:00:03
   ------------------ --------------------- 0.5/1.2 MB 305.2 kB/s eta 0:00:03
   ------------------ --------------------- 0.5/1.2 MB 305.2 kB/s eta 0:00:03
   --------------------------- ------------ 0.8/1.2 MB 390.1 kB/s eta 0:00:01
   --------------------------- ------------ 0.8/1.2 MB 390.1 kB/s eta 0:00:01
   --------------------------- ------------ 0.8/1.2 MB 390.1 kB/s eta 0:00:01
   --------------------------- ------------ 0.8/1.2 MB 390.1 kB/s eta 0:00:01
   --------------------------- ------------ 0.8/1.2 MB 390.1 kB/s eta 0:00:01
   ------------------------------------ --- 1.0/1.2 MB 320.6 kB/s eta 0:00:01
   ------------------------------------ --- 1.0/1.2 MB 320.6 kB/s eta 0:00:01
   ------------------------------------ --- 1.0/1.2 MB 320.6 kB/s eta 0:00:01
   ------------------------------------ --- 1.0/1.2 MB 320.6 kB/s eta 0:00:01
   ------------------------------------ --- 1.0/1.2 MB 320.6 kB/s eta 0:00:01
   ------------------------------------ --- 1.0/1.2 MB 320.6 kB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 246.7 kB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import psycopg2

In [8]:
my_connect = psycopg2.connect(

host = "localhost",
database = 'First_database',
user = 'postgres',
password = "monahelal_2502"

)

In [5]:
cur = my_connect.cursor()

In [6]:
cur.execute('SELECT current_user')
print(cur.fetchone()[0])

postgres

create new database

In [9]:
my_connect.autocommit = True
cur = my_connect.cursor()
cur.execute("CREATE DATABASE DS_NEW_")

DuplicateDatabase: database "ds_new_" already exists

In [6]:
cur.execute("SELECT datname from PG_database WHERE datistemplate = false")
for db in cur.fetchall():
    print(db[0])

postgres
First_database
F_DB_task
cust
ds_new
ds_new_

In [ ]:
cur.execute("CREATE TABLE students (name VARCHAR(50),phone VARCHAR(20))")
print("table created")

In [12]:
cur.execute("ALTER TABLE students RENAME COLUMN phone TO Phone")
print("Column change")

DuplicateColumn: column "phone" of relation "students" already exists

In [17]:
sql = "INSERT INTO students (name,phone) values (%s , %s)"
data = ("mona","01277529074")
cur.execute(sql,data)
my_connect.commit()
print("The new row already inserted")
print(cur.rowcount)

The new row already inserted
1

In [19]:
sql = "INSERT INTO students (name,phone) values (%s , %s)"
data =[ ("mona","01277529074"),
       ("mona","01277529074"),
       ("mona","01277529074"),
       ("mona","01277529074"),
       ("mona","01277529074")
       
       ]

cur.executemany(sql,data)
my_connect.commit()
print(cur.rowcount)

5

In [20]:
cur.execute("select * from students")
results = cur.fetchall()
for i in results:
    print(i)

('mona', '1277524581')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')

In [21]:
cur.execute("select name from students")
results = cur.fetchall()
for i in results:
    print(i)

('mona',)
('mona',)
('mona',)
('mona',)
('mona',)
('mona',)
('mona',)
('mona',)
('mona',)
('mona',)
('mona',)
('mona',)
('mona',)
('mona',)

In [22]:
cur.execute("select phone from students where name = 'mona'")
results = cur.fetchall()
for i in results:
    print(i)

('1277524581',)
('01277529074',)
('01277529074',)
('01277529074',)
('01277529074',)
('01277529074',)
('01277529074',)
('01277529074',)
('01277529074',)
('01277529074',)
('01277529074',)
('01277529074',)
('01277529074',)
('01277529074',)

In [26]:
sql ="select * from students where name = %s "
data = ('fares',)
cur.execute(sql,data)
result = cur.fetchall()
print(result)

[]

In [28]:
sql ="UPDATE students set phone ='888888' where name = 'mona'"
my_connect.commit()
cur.execute("select * from students")
results= cur.fetchall()
for i in results:
    print(i)

('mona', '1277524581')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')
('mona', '01277529074')

In [10]:
 pip install PyQt5

Requirement already satisfied: PyQt5 in c:\users\domain\desktop\new folder\depi_amit_ai_bns3\.env\lib\site-packages (5.15.11)
Requirement already satisfied: PyQt5-sip<13,>=12.15 in c:\users\domain\desktop\new folder\depi_amit_ai_bns3\.env\lib\site-packages (from PyQt5) (12.17.0)
Requirement already satisfied: PyQt5-Qt5<5.16.0,>=5.15.2 in c:\users\domain\desktop\new folder\depi_amit_ai_bns3\.env\lib\site-packages (from PyQt5) (5.15.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip