In [1]:
a = 5
a = 6
print(a)

6

In [3]:
print("my name is {}, and my age is {}".format("mona",20))
print("my name is {0}, and my age is {1}".format("mona",20))
print("my name is {x}, and my age is {y}".format(x = "mona", y = 20))

my name is mona, and my age is 20
my name is mona, and my age is 20
my name is mona, and my age is 20

In [5]:
name = "mona"
age = 20
print(f"my name is {name}, and my age is {age}")

my name is mona, and my age is 20

In [6]:
your_name = "mona"
your_age = 20
course_name = "Data Science"
print(f"My name is {your_name}, and I am {your_age} years old. I am engaged in learning {course_name}.")

My name is mona, and I am 20 years old. I am engaged in learning Data Science.

In [8]:
name = "mONa Helal"
print(name.capitalize())

Mona helal

In [9]:
list_1 = ["my","name","is","mona"]
list_2 = ' '.join(list_1)
print(list_2)

my name is mona

In [10]:
print("\"my name is mona\"")

"my name is mona"

In [11]:
list_1.append(5)
print(list_1)

['my', 'name', 'is', 'mona', 5]

In [12]:
list_1.insert(0,7)
print(list_1)

[7, 'my', 'name', 'is', 'mona', 5]

In [13]:
list_1.extend(list_2)
print(list_1)

[7, 'my', 'name', 'is', 'mona', 5, 'm', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'm', 'o', 'n', 'a']

In [14]:
list_1.remove(7)

In [15]:
print(list_1)

['my', 'name', 'is', 'mona', 5, 'm', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'm', 'o', 'n', 'a']

In [19]:
x = list_1.pop(5)
print(list_1)

['my', 'name', 'mona', 5, 'y', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'm', 'o', 'n', 'a']

In [20]:
print(x)

n

In [21]:
del list_1[0]
print(list_1)

['name', 'mona', 5, 'y', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'm', 'o', 'n', 'a']

In [22]:
name = input("enter your name: ")
id = input("enter your id: ")
print (name , id)

mona 231356

In [23]:
input_list = ["amit","learning","python","machine learning","data science","deep learning"]
item = input("enter an item to remove: ")
input_list.remove(item)
print(f"input list = {input_list}")

input list = ['learning', 'python', 'machine learning', 'data science', 'deep learning']

In [24]:
i = input_list.index("data science")
print(i)

3

In [25]:
c = input_list.count("learning")
print(c)

1

In [27]:
list_3 = [5,8,9,7,6,55,4,0,7]
list_3.sort()
print(list_3)

[0, 4, 5, 6, 7, 7, 8, 9, 55]

In [28]:
list_3.reverse()
print(list_3)

[55, 9, 8, 7, 7, 6, 5, 4, 0]

In [29]:
list_3 = [5,8,9,7,6,55,4,0,7]
list_3.reverse()
print(list_3)

[7, 0, 4, 55, 6, 7, 9, 8, 5]

In [30]:
list_3.clear()

In [31]:
print(list_3)

[]

In [32]:
list_3 = [5,8,9,7,6,55,4,0,7]
del list_3

In [33]:
print(list_3)

NameError: name 'list_3' is not defined

In [34]:
tuple_1 = (1,2,3,1,2,3)
print(type(tuple_1))

<class 'tuple'>

In [35]:
print(tuple_1[3])

1

In [36]:
tuple_1[1] = "mona"
print(tuple_1)

TypeError: 'tuple' object does not support item assignment

In [40]:
my_tuple = (1,2,3,4,5,"mona",True)
my_list = list(my_tuple)
my_list.append(99)
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)
my_list_ = list(my_tuple)
my_list.remove(3)
my_tuple = tuple(my_list)
print(my_tuple)

[1, 2, 3, 4, 5, 'mona', True, 99]
(1, 2, 3, 4, 5, 'mona', True, 99)
(1, 2, 4, 5, 'mona', True, 99)

In [42]:
Set_A = {1,2,3,4,5,11,12} 
Set_B = {8,6,7,9,10,11,12}
print(type(Set_A)) 
print(Set_A[0])

<class 'set'>

TypeError: 'set' object is not subscriptable

In [43]:
set_one = {1,1,2,3,4,4,4}
print(set_one)

{1, 2, 3, 4}

In [45]:
set_1 = {1,2,3,4,5,6,7}
print(set_1)

{1, 2, 3, 4, 5, 6, 7}

In [46]:
list__ = [('a',1),('b',2),('c',3),('d',4)]
dictionary_ = dict(list__)
print(dictionary_)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [51]:
print(dictionary_['a'])

1

In [52]:
number = input("enter your number: ")
print(number)
print(type(number))

5
<class 'str'>

In [53]:
5/2

2.5

In [54]:
5//2

2

In [55]:
a = 2
b = 2
a is b

True

In [56]:
a is not b

False

In [60]:
Is-raining = False


if not Is-raining :
    print("it is not raining.")

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (899217265.py, line 1)

In [61]:
x = 5
result = "Even" if x%2 == 0 else "Odd"
print(result)

Odd

In [63]:
for i in range(5):
    if i == 2:
        continue
    else:
        print(i)

0
1
3
4

In [64]:
for i in range(5):
    if i == 2:
        break
    else:
        print(i)

0
1

In [66]:
for i in range(5):
    if i == 2:
        pass
    else:
        print(i)

0
1
3
4

In [1]:
round(3.5)

4

In [3]:
def f_1(n):
    return lambda a : a * n
f_2 = f_1(2)
print(f_2(11))

22

In [4]:
class Student:
    def __init__(self):
        print("Hello World")

s1 = Student()

Hello World

In [5]:
class Animal:
    def move(self):
        pass

class Bird(Animal):
    def move(self):
        print("move from bird.")

class Cat(Animal):
    def move(self):
        print("move from cat.")   

a = Bird()
a.move()

move from bird.

In [7]:
class calc1:
    def sammation(self,n1,n2):
        return n1 + n2
    
    def subtraction(self,n1,n2):
        return n1 - n2
    
class calc2(calc1):
    def multiplication(self,n1,n2):
        return n1 * n2
    
c = calc2()
print(c.sammation(2,5))

7

In [9]:
class A:
    def do_this(self):
        print("Iam in A")

class B(A):
    pass

class C:
    def do_this(self):
        print("Iam in C")

class D(C,B):
    pass

d = D()
d.do_this()

Iam in C